body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0;
}

#main-content {
  background-image: url("https://www.14ers.com/photos/wilsongroup/peakphotos/large/200803_Wils01.jpg");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat:round
  background-size: auto;
}

#guess-button {
  background-color: #c96131;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  width: 35%;
  margin: .5em auto .5em auto;
  color: whitesmoke;
}

#guess-button a{
  text-decoration: none;
  color: whitesmoke;
}

#guess-button:hover {
  cursor: pointer;
}

h1,h2 {
  color: rgb(248, 248, 221);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
  padding-top: 0;
  margin-top: 0 !important;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  padding: .5em;
  color: dimgrey;
  font-family: Arial, Helvetica, sans-serif;
}

.h3 {
  /* color:rgb(243, 243, 243); */
  color:lightgoldenrodyellow;
  font-size: 2em;
  font-family: Helvetica, Arial, sans-serif;
}

.description {
  font-family: georgia; 
  font-style: italic; 
  font-size: 1.1em;
  color: whitesmoke;
  margin-top: .5em;
  text-align: center;
}


#nav {
  padding-bottom: 0;
  background-color: rgb(115, 120, 126);
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(83, 135, 192);
  display: block;
  justify-content: center;
  align-items: center;
}

#nav li {
  float: left;
  vertical-align: center;
}

li img {
  width: 150px;
  height: auto;
  padding-bottom: 2px;
  margin: 0 !important;
  float: left;
}

#nav .link a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#icon:hover {
  background-color:slategrey;
  cursor: pointer;
}

#nav .link:hover:not(.active) {
  background-color:slategrey;
}

#nav .link a:hover {
  text-decoration: underline;
}

#nav .active {
  background-color: #c96131;
}

#entry-list {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.entryContainer {
  background-color: rgb(240, 239, 228);
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
}

#hero {
  background-size: cover;
  height: 300px;
  vertical-align: middle;
  background-blend-mode: multiply;
  background-color:darkgray;
}

#hero h1 {
  padding-top: 4em;
  vertical-align: middle;
  position: relative;
}


@media screen and (max-width: 700px) {
  #nav ul {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
  }

  #nav li img {
    width: 165px;
    height: auto;
    padding-bottom: 2px;
    display: inline;
    text-align: center;
    flex: 3;
  }

  #nav li {
    float: none;
  }

  #nav .active {
    flex: 1;
    background-color: transparent;
  }

  #hero {
    height: 400px;
    width: auto;
    background-position: center;
  }

  #hero h1 {
    padding-top: 5em;
  }
}

